name: changelog
on:
  pull_request_target:
  pull_request:
    types: [opened, reopened, synchronize, labeled]
jobs:
  changelog:
    name: changelog
    concurrency:
      group: changelog-${{ github.ref }}
      cancel-in-progress: true
    if: (!contains(github.event.pull_request.labels.*.name, 'no changelog'))
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Changelog updated
        uses: Zomzog/changelog-checker@v1.3.0
        with:
          fileName: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
