name: SLO
on:
  pull_request:
    branches:
      - master
      - release-*
  workflow_dispatch:
jobs:
  test-slo:
    concurrency:
      group: slo-${{ github.ref }}
    if: (!contains(github.event.pull_request.labels.*.name, 'no slo'))

    runs-on: ubuntu-latest
    name: SLO test
    permissions:
      checks: write
      pull-requests: write
      contents: read
      issues: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run SLO
        uses: ydb-platform/slo-tests@k8s-local
        continue-on-error: true
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_CREDENTIALS_B64: ${{ secrets.SLO_AWS_CREDENTIALS }}
          AWS_CONFIG_B64: ${{ secrets.SLO_AWS_CONFIG }}
          s3_endpoint: ${{ secrets.SLO_S3_ENDPOINT }}
          s3_images_folder: ${{ vars.SLO_S3_IMAGES_FOLDER }}
          grafana_dashboard: ${{ vars.SLO_GRAFANA_DASHBOARD }}
          ydb_version: 'newest'
          timeBetweenPhases: 30
          shutdownTime: 30

          language_id0: 'native-table'
          workload_path0: 'tests/slo'
          language0: 'Native ydb-go-sdk/v3 over table-service'
          workload_build_context0: ../..
          workload_build_options0: -f Dockerfile --build-arg SRC_PATH=native/table --build-arg JOB_NAME=workload-native-table

          language_id1: 'database-sql'
          workload_path1: 'tests/slo'
          language1: 'Go SDK database/sql'
          workload_build_context1: ../..
          workload_build_options1: -f Dockerfile --build-arg SRC_PATH=database/sql --build-arg JOB_NAME=workload-database-sql

          language_id2: 'native-query'
          workload_path2: 'tests/slo'
          language2: 'Native ydb-go-sdk/v3 over query-service'
          workload_build_context2: ../..
          workload_build_options2: -f Dockerfile --build-arg SRC_PATH=native/query --build-arg JOB_NAME=workload-native-query

          language_id3: 'gorm'
          workload_path3: 'tests/slo'
          language3: 'Go SDK gorm'
          workload_build_context3: ../..
          workload_build_options3: -f Dockerfile --build-arg SRC_PATH=gorm --build-arg JOB_NAME=workload-gorm

          language_id4: 'xorm'
          workload_path4: 'tests/slo'
          language4: 'Go SDK xorm'
          workload_build_context4: ../..
          workload_build_options4: -f Dockerfile --build-arg SRC_PATH=xorm --build-arg JOB_NAME=workload-xorm

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: logs
          path: logs/
